<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.androidcollider.koljadnik">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:name=".root.App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher_bigger"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".splash.SplashScreenActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar.FullScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".song_types.SongTypesActivity" />
        <activity
            android:name=".songs_list.SongsActivity"
            android:windowSoftInputMode="stateHidden" />
        <activity android:name=".song_details.SongDetailsActivity" />
        <activity
            android:name=".feedback.FeedbackActivity"
            android:windowSoftInputMode="stateHidden" />
        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="fcb6c657fc3e6a28ab46de7eec61fb4fab9c2253" />
        <meta-data android:name="google_analytics_adid_collection_enabled" android:value="false" />
    </application>
</manifest>